body{
    padding: 50px 100px;
    background-color: antiquewhite;
}
h1{
    text-align: center;
}
#container{
    text-align: center;
    background-color: rgb(68, 208, 208);
    padding: 50px;
    
}
.input_div{
    display: inline-block;
}
.inp{
    padding: 5px 10px;
    margin: 10px ;
    font-size: 25px;
    font-weight: bold;
    width: 250px; 
    text-align: center;
}
label{
    font-size: 22px;
    color:rgb(49, 63, 26);
} 
